Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
players = [
    ('Sachin Tendulkar', 34357),
    ('Ricky Ponting', 27483),
    ('Jack Kallis', 25534),
    ('Virat Kohli', 24936)
]

In [4]:
players

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [5]:
sorted_players = sorted(players, key=lambda x: x[1])

In [6]:
sorted_players

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [7]:
print("Sorted list of players by runs scored (ascending):")
for player in sorted_players:
    print(player)

Sorted list of players by runs scored (ascending):
('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
n= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
squares = list(map(lambda x: x**2, n))

In [14]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
print("Squares of the numbers:", squares)

Squares of the numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [17]:
given_string = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
given_string

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
string_tuple = tuple(map(lambda x: str(x), given_string))

In [20]:
string_tuple

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [21]:
print("Tuple of strings:", string_tuple)

Tuple of strings: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [1]:
from functools import reduce
numbers = list(range(1, 26))

In [2]:
numbers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [3]:
product = reduce(lambda x, y: x * y, numbers)

In [4]:
product

15511210043330985984000000

In [5]:
print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [7]:
n = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [8]:
n

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [13]:
filter_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, n))

In [14]:
filter_numbers

[6, 60, 90, 120]

In [15]:
print("Numbers divisible by both 2 and 3:", filter_numbers)

Numbers divisible by both 2 and 3: [6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [16]:
string = ['python', 'php', 'aba', 'radar', 'level']

In [18]:
string

['python', 'php', 'aba', 'radar', 'level']

In [19]:
palindromes = list(filter(lambda x: x == x[::-1], string))

In [20]:
palindromes

['php', 'aba', 'radar', 'level']

In [21]:
print("Palindromes in the list:", palindromes)

Palindromes in the list: ['php', 'aba', 'radar', 'level']